.slick-slide img {
  width: 50%;
  height: 150px;
  margin: 0 auto;
}

.slick-slider {
  margin-bottom: 2rem;
}

.slick-slide {
  margin: 10px 20px;
}

.slick-list {
  height: 250px !important;
}

@media screen and (max-width: 768px) {
  .slick-slider img {
    width: 60%;
    height: 120px;
  }

  .slick-list {
    height: 180px !important;
  }
}
