.select-field {
  width: 70%;
  padding: 1rem;
  background-color: #242424;
  border-radius: 0.8rem;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  color: #fff;
}

.networkType .ant-radio-wrapper span.ant-radio + span {
  color: black;
}

.networkType
  .ant-radio-wrapper
  span.ant-radio
  input[type="radio"]
  + span.ant-radio-inner {
  background-color: transparent;
  border-color: black;
}

.networkType
  .ant-radio-wrapper
  span.ant-radio
  input[type="radio"]:checked
  + span.ant-radio-inner {
  border-color: #b9fd02;
  box-shadow: none;
}

.networkType
  .ant-radio-wrapper
  span.ant-radio
  input[type="radio"]
  + span.ant-radio-inner::after {
  background-color: black;
}

.networkType
  .ant-radio-wrapper
  span.ant-radio
  input[type="radio"]:checked
  + span.ant-radio-inner::after {
  background-color: #b9fd02;
}

.custom-input input[type="number"].ant-input {
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
}
